.results-container {
    padding: 25px 0;
    display: flex;
}
.l-side {
    /* background-color: red; */
    margin-right: 50px;
}
.r-side {
    width: 100%;
}
.l-side-items {
    position: sticky;
    top: -1px;
}