.matches-day {
    padding: 10px 15px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: -1px;
    background-color: var(--bg-color-main);
}
.matches-day h2 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
}
.go-btn {
    font-size: 25px;
    cursor: pointer;
}
/* .matches-list table{
    width: 100%;
} */
table {
    margin-top: 10px;
    width: 100%;
}