.single-match {
    padding: 15px 0;
}
.result span {
    margin: 0 10px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
}
td {
    text-align: center;
}
.team, .result {
    padding: 10px 20px;
}
.match-is-live {
    background-color: red;
}
.match-st {
    background-color: var(--navbar-bg-color);
}
.status {
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
    padding: 5px 10px;
    width: 100%;
    display: block;
}
