.league-table {
    margin-top: 20px;
    width: 400px;
    background-color: var(--navbar-bg-color);
    border-radius: 8px;
}
.table-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--border-color);
    border-radius: 8px;
}
.table-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    letter-spacing: 1px;
}
.table-btn {
    cursor: pointer;
}
.matches-played, .wins, .draws, .loses, .goalDifference, .points {
    padding: 0 10px;
}
.place {
    font-weight: bold;
}
.league-tbl {
    border-collapse: collapse;
}
.thead-items td, .tbody-items td {
    text-align: center;
    padding: 5px 10px;
}
.thead-items td {
    font-size: 12px;
    padding: 0 0 10px 0;
}
.tbody-items td {
    border-top: 1px solid var(--border-color);
}