header {
    background-color: #2D333B;
}
.navbar {
    width: 100%;
    padding: 10px 0;
    /* background-color: red; */
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    cursor: pointer;
}
.logo-span {
    font-family: 'Bebas Neue', cursive;
    display: block;
    font-size: 30px;
}
.second-line {
    margin: -10px 0 0 30px;
}
.nav-links {
    display: flex;
}
.single-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.middle-link {
    margin: 0 80px;
}
.nav-link-icon {
    font-size: 35px;
}
.link-title {
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    bottom: -20px;
    font-size: 14px;
    letter-spacing: 1px;
    left: 50%;
    transform: translateX(-45%);
    transition-duration: 500ms;
    opacity: 0;
}
.single-link:hover > .link-title {
    opacity: 1;
}