.competitions {
    width: 400px;
    border:1px solid var(--border-color);
    border-radius: 12px;
    padding: 10px;
    /* position: sticky;
    top: -1px; */
}
.competitions-title {
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border-color);
}
.competitions-title h3 {
    font-family:'Bebas Neue', cursive;
    letter-spacing: 2px;
}
.competition-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
}
.competition-item:hover {
    background-color: var(--navbar-bg-color);
}
.competition-name {
    margin-left: 10px;
}