* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
  color: var(--font-color);
}

html {
  --bg-color-main: #1B262C;
  --navbar-bg-color: #2D333B;
  --main-color-one: #0F4C75;
  --main-color-two:  #3282B8;
  --main-color-three: #1A1A1B;
  --border-color: #444C56;
  --font-color: #BBE1FA;
}

body {
  background-color: var(--bg-color-main);
}

.container {
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
}
.copyright {
  text-align: center;
  padding: 10px 0;
}
.copyright span {
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}
