.filter-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--navbar-bg-color);
    padding: 5px 10px;
    border-radius: 8px;
}
.filter-league {
    display: flex;
    align-items: center;
}
.filter-img {
    margin-right: 10px;
}
.filter-title span {
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
}
.hidden-comeptition {
    display: none;
}
.hide-competition-button {
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
}
.no-matches {
    padding: 20px 0;
}
.diff-font {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-size: 20px;
}
.competition-buttons {
    display: flex;
    align-items: center;
}
.remove-competition {
    margin-left: 10px;
    cursor: pointer;
}